extends layout

block content

  header.buoy__header
    img(src="/images/buoy.svg" alt="Simple tilted buoy illustration")
    div.buoy__intro
      h1.buoy__title Buoy
      h2.buoy__subtitle A 
        span (CSCI E31) 
        | Digital Ocean help guide
  main.buoy__main
    section.buoy__section
      div.buoy__container 
        h3.buoy__section-title Section 1
        ul.buoy__list
          li list item
    section.buoy__section
      div.buoy__container 
        h3.buoy__section-title Section 2
        ul.buoy__list
          li list item
